apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-frontend
  namespace: production
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 959149964983.dkr.ecr.ap-southeast-1.amazonaws.com/frontend:7819b1777e42fd0a5eb58e490eaf268db9d6b730
          env:
            - name: REACT_APP_SERVER_URL
              value: http://54.255.202.138:30008
          ports:
            - containerPort: 3000
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-backend
  namespace: production
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 959149964983.dkr.ecr.ap-southeast-1.amazonaws.com/backend:5ef4a89f12032c0d523d7d7e93747514a38ba774
          env:
            - name: MONGODB_URI
              value: mongodb+srv://linhlnq:Qcy4YnJEOPuXJlcL@taskon.nq3kfin.mongodb.net/taskon
          ports:
            - containerPort: 3000
