apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-frontend
  namespace: production
  labels:
    app: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
  template:
    metadata:
      labels:
        app: frontend
    spec:
      containers:
        - name: frontend
          image: 959149964983.dkr.ecr.ap-southeast-1.amazonaws.com/frontend:ac633d95d838ff62d6a837a5a067c19bed311874
          ports:
            - containerPort: 80
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: deployment-backend
  namespace: production
  labels:
    app: backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend
          image: 959149964983.dkr.ecr.ap-southeast-1.amazonaws.com/backend:5895062473039c8e3dd697923bf757954b54bb63
          ports:
            - containerPort: 3000