apiVersion: v1
kind: Service
metadata:
  namespace: production
  name: service-frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30007

---
apiVersion: v1
kind: Service
metadata:
  namespace: production
  name: service-backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30008

---
