apiVersion: v1
kind: Service
metadata:
  namespace: production
  name: service-frontend
spec:
  type: NodePort
  selector:
    app: frontend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30007

---
apiVersion: v1
kind: Service
metadata:
  namespace: production
  name: service-backend
spec:
  type: NodePort
  selector:
    app: backend
  ports:
    - port: 3000
      targetPort: 3000
      nodePort: 30008

---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: production
  name: test-ingress
  annotations:
    nginx.ingress.kubernetes.io/rewrite-target: /
spec:
  ingressClassName: nginx
  rules:
  - http:
      paths:
      - path: /frontend
        pathType: Prefix
        backend:
          service:
            name: service-frontend
            port: 
              number: 30007
